<!DOCTYPE html>
<html lang="en" class="bg-blue-950">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>You Have Now Joined The Blåhaj.</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body class="min-h-screen flex items-center justify-center">
        <div class="flex flex-wrap content-center justify-center">
            <h1 class="font-bold text-blue-500 text-3xl my-4 mx-4 text-center">THANK YOU FOR JOINING THE BLÅHAJ! check your status on Slack :)</h1>
            <img src="../static/images/blahaj.gif" alt="A blåhaj"><img src="../static/images/blahaj.gif" alt="A blåhaj"><img src="../static/images/blahaj.gif" alt="A blåhaj">
        </div>
    </body>
</html>