<!DOCTYPE html>
<html lang="en" class="bg-blue-950">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Join The Blåhaj.</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body class="font-display min-h-screen grid grid-cols-9 grid-rows-5 gap-4">
        <img class="w-full" src="../static/images/blahaj.gif" alt="A blåhaj"><!-- 1 -->
        <img class="w-full" src="../static/images/blahaj.gif" alt="A blåhaj"><!-- 2 -->
        <img class="w-full" src="../static/images/blahaj.gif" alt="A blåhaj"><!-- 3 -->
        <img class="w-full" src="../static/images/blahaj.gif" alt="A blåhaj"><!-- 4 -->
        <img class="w-full" src="../static/images/blahaj.gif" alt="A blåhaj"><!-- 5 -->
        <img class="w-full" src="../static/images/blahaj.gif" alt="A blåhaj"><!-- 6 -->
        <img class="w-full" src="../static/images/blahaj.gif" alt="A blåhaj"><!-- 7 -->
        <img class="w-full" src="../static/images/blahaj.gif" alt="A blåhaj"><!-- 8 -->
        <img class="w-full" src="../static/images/blahaj.gif" alt="A blåhaj"><!-- 9 -->
        <img class="w-full" src="../static/images/blahaj.gif" alt="A blåhaj"><!-- 10 -->
        <img class="w-full" src="../static/images/blahaj.gif" alt="A blåhaj"><!-- 11 -->
        <img class="w-full" src="../static/images/blahaj.gif" alt="A blåhaj"><!-- 12 -->
        <img class="w-full" src="../static/images/blahaj.gif" alt="A blåhaj"><!-- 13 -->
        <img class="w-full" src="../static/images/blahaj.gif" alt="A blåhaj"><!-- 15 -->
        <img class="w-full" src="../static/images/blahaj.gif" alt="A blåhaj"><!-- 16 -->
        <img class="w-full" src="../static/images/blahaj.gif" alt="A blåhaj"><!-- 17 -->
        <img class="w-full" src="../static/images/blahaj.gif" alt="A blåhaj"><!-- 18 -->
        <img class="w-full" src="../static/images/blahaj.gif" alt="A blåhaj"><!-- 19 -->
        <img class="w-full" src="../static/images/blahaj.gif" alt="A blåhaj"><!-- 20 -->
        <img class="w-full" src="../static/images/blahaj.gif" alt="A blåhaj"><!-- 21 -->
        <img class="w-full" src="../static/images/blahaj.gif" alt="A blåhaj"><!-- 22 -->
        <img class="w-full" src="../static/images/blahaj.gif" alt="A blåhaj"><!-- 23 -->
        <img class="w-full" src="../static/images/blahaj.gif" alt="A blåhaj"><!-- 25 -->
        <img class="w-full" src="../static/images/blahaj.gif" alt="A blåhaj"><!-- 26 -->
        <img class="w-full" src="../static/images/blahaj.gif" alt="A blåhaj"><!-- 27 -->
        <img class="w-full" src="../static/images/blahaj.gif" alt="A blåhaj"><!-- 28 -->
        <img class="w-full" src="../static/images/blahaj.gif" alt="A blåhaj"><!-- 29 -->
        <img class="w-full" src="../static/images/blahaj.gif" alt="A blåhaj"><!-- 30 -->
        <img class="w-full" src="../static/images/blahaj.gif" alt="A blåhaj"><!-- 31 -->
        <img class="w-full" src="../static/images/blahaj.gif" alt="A blåhaj"><!-- 32 -->
        <div class="flex flex-wrap content-center justify-center flex-col col-start-3 row-start-2 col-span-5 row-span-3 bg-blue-900 rounded-4xl relative">
            <h1 class="font-bold text-blue-500 text-3xl my-4 mx-4 text-center">JOIN THE BLÅHAJ.</h1>
            <button onclick="window.location.href='https://slack.com/oauth/v2/authorize?client_id=2210535565.11583581699220&user_scope=users.profile:write&redirect_uri=https://blahaj.numycode.dev/callback'" class="font-display bg-blue-800 p-4 px-8 rounded-full text-blue-200">join!</button>
            <p class="absolute bottom-4 left-5 text-blue-600"><a class="underline" href="https://github.com/numycode/jointheblahaj">source</a> // <a class="underline" href="./about">about this site</a></p>
            <p class="absolute bottom-4 right-5 text-blue-600">website by <a href="https://numycode.dev" class="underline">numycode</a></p>
        </div>
    </body>
</html>